---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  driftDetection:
    mode: enabled
    ignore:
      - paths: [/spec/replicas]
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: 'true'
        initContainers:
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.40.3@sha256:ef4a44819a60469682c7b5e69183e6401171891feaa60186652d292c59e41b30
            env:
              TZ: ${TIMEZONE}
              DOT: 'off'
              DNS_ADDRESS: 10.43.0.10 # coredns is either pihole, dnsmasq, or cloudflare over tls, so it's fine to use
              HTTP_CONTROL_SERVER_AUTH_CONFIG_FILEPATH: &gluetunAuthPath /gluetun/auth.toml
              FIREWALL_INPUT_PORTS: 80,8388,9999 # 80: WebUI, 8388 Socks Proxy, 9999 Kube Probes
              FIREWALL_OUTBOUND_SUBNETS: 10.42.0.0/16,10.43.0.0/16 # Allow access to k8s subnets
              HEALTH_SERVER_ADDRESS: :9999
              HEALTH_SUCCESS_WAIT_DURATION: 10s
              VPN_TYPE: "wireguard"
              WIREGUARD_ENDPOINT_PORT: 51820
              VPN_INTERFACE: tun0
            envFrom:
              - secretRef:
                  name: wireguard
            probes:
              startup:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - /bin/sh
                      - -c
                      - >-
                        wget -O - -q --header="X-API-KEY: $GLUETUN_CONTROL_SERVER_API_KEY" http://localhost:8000/v1/publicip/ip
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  successThreshold: 1
                  timeoutSeconds: 5
                  failureThreshold: 30
            lifecycle:
              postStart:
                exec:
                  command:
                    - /bin/sh
                    - -c
                    - >-
                      (ip rule del table 51820; ip -6 rule del table 51820) || true
            restartPolicy: Always
            securityContext:
              # can't be non-root, or it has no access to tunnel
              runAsNonRoot: false
              runAsUser: 0
              runAsGroup: 0
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false # wants to create a user, etc
              capabilities:
                add: [NET_ADMIN]
            resources:
              requests:
                cpu: 20m
          # TODO: Replace once gluetun supports socks5, nothing supports shadowsocks
          socks5:
            restartPolicy: Always
            image:
              repository: serjs/go-socks5-proxy
              tag: latest@sha256:0af522996f402c03ecd985a87997158eabeb28935365e3a384df37eafcf740ea
            env:
              PROXY_PORT: &proxy-port 8388
              REQUIRE_AUTH: false
            resources:
              requests:
                cpu: 5m
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:25fc7caf22101f85276ede9b1f76a46b7a93971bb6b70b6c58d14d6ab7f51415
            env:
              UMASK: '022'
              QBT_WEBUI_PORT: &port 80
              PUSHOVER_ENABLED: true
            envFrom:
              - secretRef:
                  name: *app
            probes:
              startup:
                enabled: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  failureThreshold: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
            securityContext: *securityContext
            resources:
              requests:
                cpu: 100m
          vuetorrent:
            dependsOn: app
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.0
            args:
              - --repo=https://github.com/WDaan/VueTorrent
              - --ref=latest-release
              - --period=86400s
              - --root=/addons
            resources:
              requests:
                cpu: 10m
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 1234
        fsGroup: 1234
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        primary: true
        forceRename: *app
        ports:
          http:
            primary: true
            port: *port
      gluetun:
        suffix: gluetun
        ports:
          socks-proxy:
            port: *proxy-port
    route:
      app:
        hostnames:
          - 'qbittorrent.${SECRET_DOMAIN}'
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/group: Downloads
          gethomepage.dev/name: Qbittorrent
          gethomepage.dev/icon: qbittorrent.svg
          gethomepage.dev/app: qbittorrent
          gethomepage.dev/widget.type: qbittorrent
          gethomepage.dev/widget.url: http://qbittorrent.downloads.svc.cluster.local
          gethomepage.dev/widget.username: '{{`{{HOMEPAGE_VAR_QBITTORRENT_USERNAME}}`}}'
          gethomepage.dev/widget.password: '{{`{{HOMEPAGE_VAR_QBITTORRENT_PASSWORD}}`}}'

    configMaps:
      config:
        data:
          .qbt.toml: |
            [qbittorrent]
            addr = "http://localhost:80"

    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          *app :
            app:
              - path: /config
      config-file:
        type: configMap
        name: *app
        advancedMounts:
          *app :
            app:
              - path: /config/.qbt.toml
                subPath: .qbt.toml
                readOnly: true

      qbrr:
        # in qbit config, set "on torrent add" to "/qbrr/qbrr --hash "%I" && qbt tag delete "cross-seed""
        # "on torrent finished" set to "curl -v http://webhook.media.svc.cluster.local/hooks/qbit-pushover --header 'Content-Type: application/json' --data-raw '{"name": "%N", "cat": "%L", "size": "%Z", "indexer": "%T"}'"
        type: image
        image: ghcr.io/buroa/qbrr:0.1.2@sha256:f930dbb4de49ffe3348d1d4f8187ce27590842bc4d6a89c3aa84234d7e99f46b
        globalMounts:
          - readOnly: true

      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            port-forward:
              - path: /config
                subPath: config
            app:
              - path: /addons
                subPath: addons
            vuetorrent:
              - path: /addons
                subPath: addons

      gluetun-auth:
        type: secret
        name: '{{ .Release.Name }}-gluetun'
        advancedMounts:
          *app :
            gluetun:
              - path: *gluetunAuthPath
                subPath: auth.toml
      data:
        type: nfs
        server: ${NAS_IP}
        path: ${NAS_PATH}/data
