---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app node-red
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/node-red/node-red
              tag: 4.1.3@sha256:41d0985765046e18be11ccc18e839d3d4c09ba122a85ebec96aaa8f77bae0384
            env:
              TZ: ${TIMEZONE}
              NODE_RED_ENABLE_PROJECTS: "true"
              NODE_RED_ENABLE_SAFE_MODE: "false"
            envFrom:
              - secretRef:
                  name: *app
    service:
      app:
        ports:
          http:
            port: 1880
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        annotations:
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/group: Home Automation
          gethomepage.dev/name: Node-RED
          gethomepage.dev/icon: node-red.svg
          gethomepage.dev/app: node-red
          gethomepage.dev/widget.type: node-red
          gethomepage.dev.widget.url: http://node-red.home-automation.svc.cluster.local
    persistence:
      data:
        existingClaim: *app
      settings:
        type: configMap
        name: node-red-configmap
        globalMounts:
          - path: /data/settings.js
            subPath: settings.js
            readOnly: true
