---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app booklore
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  driftDetection:
    mode: enabled
    ignore:
      - paths: [/spec/replicas]
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        initContainers:
          mariadb:
            image:
              repository: docker.io/library/mariadb
              tag: 12.2.2-noble@sha256:b1cb255a9939d28a1856815f0de6046c20c28c21b92a9f2696bc782b247a47ee
            env:
              TZ: "${TIMEZONE}"
              MARIADB_DATABASE: *app
              MARIADB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore-secret
                    key: booklore_mariadb_password
              MARIADB_ROOT_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore-secret
                    key: booklore_mariadb_root_password
              MARIADB_USER: *app
              PGID: "1000"
              PUID: "1000"
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - bash
                      - -c
                      - |-
                        mariadb-admin ping --socket=/run/mysqld/mysqld.sock --user=root --password=$${MARIADB_ROOT_PASSWORD}
            restartPolicy: Always
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
              seccompProfile: { type: Unconfined }
          nginx-config:
            image:
              repository: ghcr.io/booklore-app/booklore
              tag: v1.18.5@sha256:44a39097fcf69e7373b51df0459da052640d07459fb02b429f2c47cceaa32485
            command:
              - /bin/sh
              - -c
            args:
              - "envsubst '$${BOOKLORE_PORT}' < /etc/nginx/nginx.conf > /config/nginx.conf"
            env:
              BOOKLORE_PORT: &httpPort 6060
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
              runAsUser: 100
              runAsGroup: 101
              fsGroup: 101
        containers:
          booklore:
            image:
              repository: ghcr.io/booklore-app/booklore
              tag: v1.18.5@sha256:44a39097fcf69e7373b51df0459da052640d07459fb02b429f2c47cceaa32485
            command:
              - java
            args:
              - -jar
              - /app/app.jar
            env:
              TZ: "${TIMEZONE}"
              LOG_LEVEL: "DEBUG"
              DATABASE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: booklore-secret
                    key: booklore_mariadb_password
              DATABASE_URL: jdbc:mariadb://localhost:3306/booklore
              DATABASE_USERNAME: *app
            probes:
              liveness: &probeApp
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/healthcheck
                    port: 8080
              readiness: *probeApp
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/healthcheck
                    port: 8080
                  failureThreshold: 10
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
          nginx:
            image:
              repository: ghcr.io/booklore-app/booklore
              tag: v1.18.5@sha256:44a39097fcf69e7373b51df0459da052640d07459fb02b429f2c47cceaa32485
            command:
              - nginx
            args:
              - -c
              - /config/nginx.conf
              - -g
              - "daemon off;"
            env:
              TZ: "${TIMEZONE}"
            probes:
              liveness: &probeNginx
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *httpPort
              readiness: *probeNginx
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
              runAsUser: 100
              runAsGroup: 101
              fsGroup: 101
    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          *app :
            booklore:
              - path: /app/data
                subPath: app
            mariadb:
              - path: /var/lib/mysql
                subPath: mysql
      nfs-nas-data:
        type: nfs
        server: ${NAS_IP}
        path: ${NAS_PATH}/data
        advancedMounts:
          *app :
            booklore:
              - path: /books
                subPath: library/books
              - path: /bookdrop
                subPath: library/bookdrop
              - path: /tmp
                subPath: temp
      mysqld:
        type: emptyDir
        medium: Memory
        sizeLimit: 1Mi
        advancedMounts:
          *app :
            mariadb:
              - path: /run/mysqld
      nginx:
        type: emptyDir
        sizeLimit: 200Mi
        advancedMounts:
          *app :
            nginx:
              - path: /config
                subPath: config
              - path: /var/lib/nginx/logs
                subPath: log
              - path: /var/lib/nginx/tmp
                subPath: tmp
            nginx-config:
              - path: /config
                subPath: config
      nginx-run:
        type: emptyDir
        medium: Memory
        sizeLimit: 100Mi
        advancedMounts:
          *app :
            nginx:
              - path: /run/nginx
      tmpfs:
        type: emptyDir
        medium: Memory
        sizeLimit: 100Mi
        advancedMounts:
          *app :
            mariadb:
              - path: /tmp
                subPath: mysql
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/name: Booklore
          gethomepage.dev/icon: booklore.png
          gethomepage.dev/app: *app
    service:
      app:
        controller: *app
        ports:
          http:
            port: *httpPort
