---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: self-hosted
components:
  - ../../components/common
resources:
  - ./audiobookshelf/ks.yaml
  - ./bentopdf/ks.yaml
  - ./calibre/ks.yaml
  - ./calibre-web-automated/ks.yaml
  - ./excalidraw/ks.yaml
  - ./firefly-iii/ks.yaml
  - ./frigate/ks.yaml
  - ./homebox/ks.yaml
  - ./homepage/ks.yaml
  - ./immich/ks.yaml
  - ./it-tools/ks.yaml
  - ./jellyfin/ks.yaml
  - ./kavita/ks.yaml
  - ./komga/ks.yaml
  - ./linkwarden/ks.yaml
  - ./localai/ks.yaml
  - ./music-assistant/ks.yaml
  - ./n8n/ks.yaml
  - ./ollama/ks.yaml
  - ./outline/ks.yaml
  - ./paperless/ks.yaml
  - ./watchstate/ks.yaml
