---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tandoor
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  driftDetection:
    mode: enabled
    ignore:
      - paths: [/spec/replicas]
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17
            envFrom:
              - secretRef:
                  name: *app
              - secretRef:
                  name: tandoor-initdb
        containers:
          main:
            image:
              repository: ghcr.io/tandoorrecipes/recipes
              tag: 2.5.3@sha256:7ce6534c9ab0e471fd0f08add67e871b9173fb580c2f86294c3ead025603a3d7
            env:
              TZ: ${TIMEZONE}
            envFrom:
              - secretRef:
                  name: *app
            command:
              - /opt/recipes/venv/bin/gunicorn
              - -b
              - :8888
              - --access-logfile
              - "-"
              - --error-logfile
              - "-"
              - --log-level
              - INFO
              - recipes.wsgi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      main:
        controller: *app
        ports:
          http:
            port: 8888
    route:
      *app :
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        annotations:
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/group: Home
          gethomepage.dev/name: Tandoor
          gethomepage.dev/description: Tandoor is a recipe manager
          gethomepage.dev/icon: tandoor-recipes.svg
          gethomepage.dev/app: *app

    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          tandoor:
            main:
              - path: /opt/recipes/mediafiles
                subPath: mediafiles
              - path: /opt/recipes/staticfiles
                subPath: staticfiles
      tmpfs:
        type: emptyDir
        advancedMounts:
          tandoor:
            main:
              - path: /opt/recipes/cookbook/static/django_js_reverse
                subPath: django_js_reverse
              - path: /tmp
                subPath: tmp