---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app music-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          *app :
            image:
              repository: ghcr.io/music-assistant/server
              tag: 2.7.9@sha256:e69e01a503d3b74504295ecc390752235029455a287ebf97402a9ac68760dc72
            env:
              TZ: ${TIMEZONE}
              XDG_CACHE_HOME: /cache
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: Always
    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.1.248
        ports:
          http:
            port: &port 8095
          stream:
            port: 8097
    route:
      app :
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
        annotations:
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/group: Media
          gethomepage.dev/name: Music Assistant
          gethomepage.dev/icon: music-assistant.svg
          gethomepage.dev/app: music-assistant

    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          *app :
            *app :
              - path: /data
                subPath: data
              - path: /cache
                subPath: cache
      tmp:
        type: emptyDir
